using System.Collections;
using System.Collections.Generic;
using UnityEngine;

public static class Credentials
{
    // OpenAI API Key (used for Chat, STT Whisper, TTS)
    // Get your key from: https://platform.openai.com/api-keys
    public const string OpenAI_ApiKey = "YOUR_OPENAI_API_KEY_HERE";
}

